{% extends 'base.html' %}
{% block content %}
        <div class="container">
        <h2>This is the Home Page!</h2>
        {% for post in post_list %}
            <div class="card m-3">
                <div class="card-body">
                    <h3 class="card-title">
                        <a href="{% url 'blog_view' post.slug %}"><h3>{{post.title}}</h3></a>
                    </h3>
                    <p class="card-text">
                        <p>{{post.content | slice:"500"}}</p>
                    </p>
                    <p class="card-text">
                        Author: {{post.author | title}}
                    </p>
                    <a class="btn btn-primary" href="{% url 'blog_view' post.slug %}">Read More</a>
                </div>
                
            </div>
        {% endfor %}
        </div>  
{% endblock content %}